<aside class="wa-sidebar" data-wa-sidebar aria-label="Indium navigation">
    <div class="wa-sidebar__inner">
        <div class="wa-sidebar__header">
            <a class="wa-brand wa-brand--sidebar" href="#" data-wa-nav="home" aria-label="Indium home">
                <span class="wa-brand__mark" data-wa-brand-mark hidden>
                    <img data-wa-brand-logo alt="" hidden />
                </span>
                <span class="wa-brand__text">Indium</span>
            </a>

            <button type="button" class="wa-iconbtn wa-sidebar__close" data-wa-sidebar-close aria-label="Close menu">
                <span aria-hidden="true">✕</span>
            </button>
        </div>

        <nav class="wa-sidenav" aria-label="Primary navigation">
            <a class="wa-sidenav__link" href="#" data-wa-nav="home">
                <img class="wa-sidenav__icon" src="~/apps/indium/assets/svg/home-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Home</span>
            </a>
            <a class="wa-sidenav__link" href="#" data-wa-nav="search">
                <img class="wa-sidenav__icon" src="~/apps/indium/assets/svg/search-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Search</span>
            </a>
            <a class="wa-sidenav__link" href="#" data-wa-nav="library">
                <img class="wa-sidenav__icon" src="~/apps/indium/assets/svg/playlist-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Library</span>
            </a>
        </nav>

        <div class="wa-sidebar__footer">
            <div class="wa-sidebar__version" data-wa-version aria-label="Indium build"></div>
        </div>
    </div>
</aside>
